@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
            body{
                font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
                color: #666;
            }
            #main-container{
                width:80%;
                margin:1%;
                padding:2%;
                overflow: auto;
                border: 1px solid #ccc;
                margin: 0 auto;
            }
            #head-container{
                width:80%; 
                 margin:0%;
                padding:0%;
                 margin: 0 auto;
            }
            .title{
                width:60%;
                float: left;
            }
            .brand{
                 width:20%;
                  left:-100px;
                  float: left;
            }
            #main-container h1{
                text-align: center;
            }
            a{
                color:#4696CB;
                text-decoration: none;
                opacity: 0.5;
                transition: opacity 0.2s;
                -moz-transition: opacity 0.2s;
                -webkit-transition: opacity 0.5s;
            }
            a:hover{
                box-shadow: none;
                opacity: 1;
            }
            #left-container{
                width:17%;
                float:left;
                margin: 1%;
                padding: 1%;

            }
            #left-container li{
                width:150px;
            }
            #right-container{
                float: left;
                width:60%;
                margin: 2%;
                padding:2%;
                border-left: 2px solid #ccc;
            }
            .clear{
                clear: both;
            }
            iframe{
                width:75;
                height:auto;
            }
            .various{
                color:darkred;

            }
            .copyright{
                float: right;
            }